[general]
# disease name
disease=
# full path to analysis folder	
analysisDir=
# full path to file containing list of samples used oncoIMPACT (COMPLETE_SAMPES)
completeSamples=
# Toggle switch for softwares
oncoIMPACT=1
DriverNet=1
MutSigCV=1
DawnRank=1

[cluster]
# memory requirement in GB
mem=10
# estimated max runtime in hours
runtime=4
# max number of threads
numThreads=20

[oncoIMPACT]
# full path to scripts folder		
scriptsDir=/home/chiakhb/SCRIPTS/MUTATION_BENCHMARK/ONCOIMPACT
# Full path to cnv matrix.
cnv=/home/chiakhb/scripts/oncoIMPACT/PUBLIC/SAMPLE_DATA/GBM/CNV.txt
# Full path to expression matrix.
exp=/home/chiakhb/scripts/oncoIMPACT/PUBLIC/SAMPLE_DATA/GBM/EXPR.txt
# Full path to snp boolean matrix.
snp=/home/chiakhb/scripts/oncoIMPACT/PUBLIC/SAMPLE_DATA/GBM/SNP.txt
#Flag for expression data type. [Valid options: ARRAY (default), RNA_SEQ]
dataType=RNA_SEQ
# Full path where the database will be exported. [**** Comment if you are using a pre-computed database or if you do not wish to export the database ****]
databaseExport=

[DriverNet]
# full path to scripts folder		
scriptsDir=/home/chiakhb/SCRIPTS/MUTATION_BENCHMARK/DRIVERNET
# full path to oncoIMPACT_ready folder
dataDir=
# full path to expression data for DriverNet (either rda file or tab-seperated file)
expData=
# path to TCGA processing scripts directory
tcgaDir=

[MutSigCV]
# full path to scripts folder		
scriptsDir=/home/chiakhb/SCRIPTS/MUTATION_BENCHMARK/MUTSIGCV
# flag to filter MAF file
flagFilter=
# full path to TCGA Somatic Mutations MAF file
maf=
# full path to MatLab binaries
matlab=
# full path to coverage file
coverage=
# full path to gene covariates file
covariate=
# full path to mutation type dictionary file
dict=
# full path to folder containing chromosome files
chr=
# prefix for results file
prefix=

[DawnRank]
# full path to scripts folder		
scriptsDir=/home/chiakhb/SCRIPTS/MUTATION_BENCHMARK/DAWNRANK
# full path to adjacency network matrix
adj=
# full path to expression matrix
exp=
# full path to mutation matrix
mut=